




<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Acceuil</a>
  </nav>




  <div class="container">
    <div class="row">
      <div class="col-sm">
        <a href="/recruteur"
           role="button"
           class="btn btn-outline-primary btn-lg btn-block text-center">
          <span><i class="fa fa-users"></i></span>
          <br>Espace Recruteurs
        </a>
      </div>
      <div class="col-sm">
        <a href="/up"
        role="button"
        class="btn btn-outline-primary btn-lg btn-block text-center">
       <span><i class="fa fa-users"></i></span>
       <br>Espace Candidates
     </a>
      </div>
      <div class="col-sm">
        <a href="/blog"
           role="button"
           class="btn btn-outline-primary btn-lg btn-block text-center">
          <span><i class="fa fa-users"></i></span>
          <br>Blog
        </a>
      </div>
      <div class="col-sm">
        <a href="/actuality"
           role="button"
           class="btn btn-outline-primary btn-lg btn-block text-center">
          <span><i class="fa fa-users"></i></span>
          <br>Actualités
        </a>
      </div>
    </div>
  </div>