<!-- A propos de nous -->

<section class="about-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="about-image">
                    <img src="assets/img/1.jpg" class="shadow" alt="image" width="585px" height="600px">
                    <img src="assets/img/2.jpg" class="shadow" alt="image" width="260px" height="300px">
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <span class="sub-title">À propos de nous</span>
                    <h2>Rejoignez nous afin et atteignent vos rêves ..</h2>
                    <h6>On est ici pour vous supporter .</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut nisi ut aliquip ex ea commodo consequat.</p>
                
                        <p>Education encompasses both the teaching and learning of knowledge, proper conduct, and technical competency.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
         
                </div>
            </div>
        </div>
    </div>

    <div id="particles-js-circle-bubble-4"></div>
</section>